body {
  margin: 0; padding: 0
}

.wrapper {
  background-color: white;
  background-size: contain;
}

.navlinks {
  list-style-type: none;
}

.navlinks a {
  color: white;
}
.navlinks a:hover {
  color: green;
}
.navlinks a:active {
  color: green;
  font-weight: 400;
}

#homepagemessage {
    color: white;
}

#rnanumberhomepg {
  color: white;
}

#mainproadvwords {
  abackground-color: #38B160;
  color: black;
}
#mainproadvanchor {
  abackground-color: #38B160;
  border: 3px solid #38B160;
  color: #38B160;
  font-weight: bold;
  background-size: cover;
}

#whowearetitle {
  color: #38B160;
}

#whowearetitle:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 10%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #38B160; /* This creates the border. Replace black with whatever color you want. */
}

#wwahardworking {
  border-right-color: grey;
  border-left-color: grey;
}

#whatwedotitle {
  color: #38B160;
}

#whatwedotitle:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 10%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #38B160; /* This creates the border. Replace black with whatever color you want. */
}
