body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: block;
  width: 100%;
  min-height: 500px;
  margin: 0;
}

/* Beginning of Homepage CSS */

.topofhomepage {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://cdn5.balboacapital.com/uploads/2017/11/hvac-equipment-on-rooftop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0;
}

#rnalogo {
  display: inline-block;
  align: top;
  height: 50px;
  margin-left: 25px;
  margin-top: 25px;
}

.toggle, [id=drop] {
  display: none;
}
nav {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  height: 50px;
}

.navlinks {
  list-style-type: none;
}

.navlinks li {
  display: inline;
}

.navlinks a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

#homepagemessage {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#rnanumberhomepg {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
  padding-bottom: 100px;
}

.mainproadv {
  display: block;
  border-width: medium;
  margin: 0px;
}
#mainproadvwords {
  display: inline-block;
  width: 60%;
  height: 70px;
  font-size: 35px;
  text-align: left;
  vertical-align: top;
  margin: 0px;
  margin-left: 25px;
  font-weight: bold;
}

#mainproadvanchor {
  display: inline-block;
  width: 30%;
  min-height: 70px;
  float: right;
  text-align: center;
  line-height: 90px;
  font-size: 40px;
  vertical-align: top;
  margin: 0px;
  margin-right: 25px;
  text-decoration: none;
}

#whowearetitle {
  display: block;
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}

.whoweareind {
  display: table;
  text-align: center;
  width: 100%;
}

td {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.wwahardworking div {
  border-right: 3px solid #38B160;
  padding-right: 50px;
  border-left: 3px solid #38B160;
  padding-left: 50px;
}

#whatwedotitle {
  display: block;
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}

.wwdnewunitinstalls div {
  border-right: 3px solid #38B160;
  padding-right: 50px;
  border-left: 3px solid #38B160;
  padding-left: 50px;
}
  /* End of homepage CSS*/
  .aboutpgtitle {
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(56, 177, 96, 1));
    padding: 25px;
    color: white;
  }
  .whoweareaboutpg {
    display: block;
    vertical-align: top;
    width: 30%;
    min-height: 500px;
    height: 100%;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
  }
  .right {
    display: block;
    vertical-align: top;
    width: 20%;
    margin: auto;
    margin-top: 0;
  }
  /* Ending of About Page CSS */
  /* Beginning of Services Page CSS*/
  .servicespgtitle {
    display: block;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(56, 177, 96, 1));
    padding: 25px;
    color: white;
  }
  .wespecializein {
    text-align: center;
    font-size: 20px;
  }
  .wespecializeinleft {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    min-height: 500px;
    height: 100%;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  .wespecializeinright {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    min-height: 500px;
    height: 100%;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  /* Ending of Serivces Page CSS*/
  /* Beginning of Contact Page */
  .contactpgtitle {
    display: block;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(56, 177, 96, 1));
    padding: 25px;
    color: white;
  }
  .addresstitle, .callustitle, .officehourstitle {
    display: block;
    font-size: 20px;
    text-align: center;
  }
  .contactaddress, .calluspgphone, .officehours {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 18px;
  }
