body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: block;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

/* Beginning of Homepage CSS */

.topofhomepage {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://cdn5.balboacapital.com/uploads/2017/11/hvac-equipment-on-rooftop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0;
}

#rnalogo {
  display: block;
  vertical-align: top;
  height: 70px;
  margin: 0 auto;
  padding: 25px;
}

.navlinks ul li {
  display: block;
  width: 100%;
  padding-top: 15px;

  }

.toggle + a, .navlinks {
  display: none;
}

.toggle {
  display: block;
  background-color: white;
  padding: 14px 20px;
  color: #38B160;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.toggle:hover {
  background-color: #38B160;
  color:  white;
}

[id^=drop]:checked + ul {
  display: block;
  background-color:  #38B160;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

[id^=drop]:checked + ul li {
  display: block;
  margin: 0px;
  padding: 15px;
}
#drop {
  display: none;
}

.navlinks a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

#homepagemessage {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rnanumberhomepg {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 70px;
}

#mainproadvwords {
  display: block;
  width: 100%;
  height: 70px;
  font-size: 35px;
  text-align: left;
  margin-bottom: 80px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

#mainproadvanchor {
  display: block;
  width: 100%;
  min-height: 70px;
  text-align: center;
  line-height: 90px;
  font-size: 40px;
  margin-top: 25px;
  text-decoration: none;
  box-sizing: border-box;
}

#whowearetitle {
  display: block;
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
}

.whoweareind {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

td {
  display: block;
  text-align: center;
}

#whatwedotitle {
  display: block;
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}

  /* End of homepage CSS*/
  .aboutpgtitle {
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(56, 177, 96, 1));
    padding: 25px;
    color: white;
  }
  .whoweareaboutpg {
    display: block;
    vertical-align: top;
    width: 30%;
    min-height: 500px;
    height: 100%;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
  }
  .right {
    display: block;
    vertical-align: top;
    width: 20%;
    margin: auto;
    margin-top: 0;
  }
  /* Ending of About Page CSS */
  /* Beginning of Services Page CSS*/
  .servicespgtitle {
    display: block;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(56, 177, 96, 1));
    padding: 25px;
    color: white;
  }
  .wespecializein {
    text-align: center;
    font-size: 20px;
  }
  .wespecializeinleft {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    min-height: 500px;
    height: 100%;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  .wespecializeinright {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    min-height: 500px;
    height: 100%;
    margin-bottom: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  /* Ending of Serivces Page CSS*/
  /* Beginning of Contact Page */
  .contactpgtitle {
    display: block;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(56, 177, 96, 1));
    padding: 25px;
    color: white;
  }
  .addresstitle, .callustitle, .officehourstitle {
    display: block;
    font-size: 20px;
    text-align: center;
  }
  .contactaddress, .calluspgphone, .officehours {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 18px;
  }
